@model ProyectoGimnasio.Aprendiz

@{
    ViewBag.Title = "Crear aprendiz";
}

<head>
    <link href="~/Content/css/Login.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/Imágenes/favicon.png" />
    <link href="~/Content/Bomnito.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Agregar.css" rel="stylesheet" />
</head>

@using (Html.BeginForm("ActionName", "ControllerName", FormMethod.Post, new { id = "form-maquina" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Agregar</h2>
        <h4>Aprendiz</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idAprendiz, "ID de aprendiz", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idAprendiz, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.idAprendiz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombreAprendiz, "Nombre de aprendiz", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreAprendiz, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.nombreAprendiz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correoAprendiz, "Correo de aprendiz", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correoAprendiz, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correoAprendiz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.claveAprendiz, "Clave de aprendiz", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.claveAprendiz, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.claveAprendiz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fichaAprendiz, "Número de ficha", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fichaAprendiz, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.fichaAprendiz, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn-volver" })
</div>
