@model ProyectoGimnasio.Ejercicios

@{
    ViewBag.Title = "Detalles Ejercicio";
}

<h2>Detalles de ejercicios</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre de ejercicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEjercicio)
        </dd>

        <dt>
            Nombre de máquina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.nombreMaquina)
        </dd>

        <dt>
            Grupo muscular
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoMuscular.nombreGrupoMuscular)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idEjercicio }) |
    @Html.ActionLink("Volver", "Index")
</p>
